<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css'>
    <title>Palindromes</title>
</head>
<body>
    <div class='container'>
        <h1>Palindromes</h1>
        {% if letters is empty %}
            <p>Error: no information was submitted. Please try again.</p>
        {% else %}
            <p>{{ letters }}</p>
        {% endif %}
        <a href='/'>return home</a>
    </div>
</body>
</html>
