<!DOCTYPE html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Palindromes</title>
</head>
<body>
    <div class='container'>
        <h1>Palindromes</h1>
        <h3>Enter a word or phrase into the form below. Upon submission, you will be informed as to whether or not your input is identified as a palindrome.</h3>
        <form action= '/id' role='form'>
            <div class='form-group'>
                <label for='word'></label>
                <name='word' class='form-control' type='text' placeholder='input goes here'>
            </div>
            <button type='submit' class='btn-success'>Submit</button>
        </form>
    </div>
</body>
</html>
